/* work section starts */
.work {
  padding: 3rem 8rem;
  background: url("../../assets/images/background/projects_bg2.jpg") no-repeat center/cover;
}

.work h2 {
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.work .heading span {
  color: rgb(255, 230, 0);
}

.work .boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; /* Center items */
  margin: 2rem 0; /* Adjusted margin for better spacing */
}

.work .box {
  flex: 1 1 30rem; /* Allow boxes to flex but prefer 30rem */
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  height: 40rem;
  transition: transform 0.3s; /* Smooth transition for scaling effect */
}

.work .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s; /* Smooth image scaling effect on hover */
}

.work .box:hover img {
  transform: scale(1.05); /* Image zoom on hover */
}

.work .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 70%; /* Adjusted position for smoother reveal */
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  transition: top 0.3s; /* Smooth transition for content reveal */
}

.work .box:hover .content {
  top: 0%; /* Bring content to the top on hover */
  .tag{
    display: none;
  }
  .desc{
    top: 20%;
  }
}

.work .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  background: #ffd900;
}

.work .tag h3 {
  font-size: 1.8rem; /* Slightly smaller font size for better fit */
}

.work .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* Allow description to grow */
}

.work .desc p {
  font-size: 1.5rem; /* Consistent font size */
}

.work .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.work .btns .btn {
  display: inline-block;
  padding: 1rem 2rem
}

.btns a{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}

.allprojects{
  margin: auto;
  font-size: 2rem;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
}

.allprojects:hover{
  color: yellow;
}